<div class="gallery-img margin-t-2">
  <div><img data-lazy="assets/images/homepage-gallery/high/1.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/2.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/3.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/4.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/5.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/6.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/7.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/8.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/9.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/10.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/11.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/12.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/13.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/14.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/15.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/16.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/17.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/18.jpg" /></div>
  <div><img data-lazy="assets/images/homepage-gallery/high/19.jpg" /></div>
</div>
<div class="gallery-nav margin-t-2 margin-b-5">
  <div><img src="assets/images/homepage-gallery/low/1.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/2.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/3.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/4.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/5.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/6.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/7.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/8.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/9.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/10.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/11.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/12.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/13.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/14.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/15.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/16.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/17.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/18.jpg" /></div>
  <div><img src="assets/images/homepage-gallery/low/19.jpg" /></div>
</div>