<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/slick/slick.css" />
		<link rel="stylesheet" href="assets/slick/slick-theme.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<section id="main" class="container {% if page.title == 'Contact' %}75%{% endif %}">
					<header>
						<h2 class="border--green">{{ page.title }}</h2>
          </header>
          
          {{ content }}

				</section>
			
				{% include footer.html %}

		</div>

			{% include scripts.html %}
	</body>
</html>