<!DOCTYPE HTML>
<html>
	<head>
		{% include metadata.html %}
	</head>
	<body class="landing">
		<div id="page-wrapper">

			{% include header.html %}

			{% include banner.html %}

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
							<h1 class="logo"><a href="index.html"><img src="assets/images/garden-cottage-logo.png" height="140" width="200" /></a></h1>
						<header class="major">
							{{content}}
								<img src="assets/images/visit-scotland-4-stars.png" alt="Visit Scotland 4 star badge" width="143" class="logo--visit-scotland" />
						</header>
					</section>
				</section>
				<section class="container">
					<div class="row">
						<div class="12u">
							<h2 class="text-center">Gallery</h2>

							{% include homepage-gallery.html %}

						</div>
					</div>
				</section>

			{% include footer.html %}

		</div>

		{% include scripts.html %}

	</body>
</html>